[Desktop Entry]
Encoding=UTF-8
Name=Enox
Comment=Enox P2P Cryptocurrency
Comment[fr]=Enox, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Enox, eşten eşe kriptografik sanal para birimi
Exec=enox-qt %u
Terminal=false
Type=Application
Icon=enox128
MimeType=x-scheme-handler/enox;
Categories=Office;Finance;
