[Unit]
Description=Enox's distributed currency daemon
After=network.target

[Service]
User=enoxcore
Group=enoxcore

Type=forking
PIDFile=/var/lib/enoxd/enoxd.pid
ExecStart=/usr/bin/enoxd -daemon -pid=/var/lib/enoxd/enoxd.pid \
-conf=/etc/enoxcore/enox.conf -datadir=/var/lib/enoxd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
